  @page "/about"
 
 <div class="slide" id="2">
            <div class="content second-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="left-content">
                            <h2>About Me</h2>
                            <p>Welcome to my portfolio! I'm Israel, a dedicated web developer with a focus on <em>React.js</em> and <em>Blazor</em>. I create innovative and user-friendly digital solutions.</p> 
                            <p>I specialize in crafting responsive and engaging web applications that meet user needs and industry standards. My goal is to deliver high-quality, impactful digital experiences.</p>
                            <p>With a passion for continuous learning and a keen eye for detail, I strive to stay updated with the latest web technologies and best practices. Feel free to explore my projects and get in touch for collaborations.</p>
                            <p>Check out my <a href="#">portfolio</a> to see some of my recent work, or <a href="#">contact me</a> if you'd like to discuss a project.</p>
                          <div class="main-btn"><a href="#3">Read More</a></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                          <img src="img/about_image.jpg" alt="">
                      </div>
                    </div>
                </div>
            </div>
          </div>