@page "/archivement"
 <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                           <div class="left-content">
                                            <h2>Fullstack Development</h2>
                                        <p>I offer comprehensive fullstack development services, utilizing technologies like React, Blazor, PHP, and Laravel to create dynamic and responsive web applications tailored to meet client needs.</p>
                                        <div class="main-btn"><a href="#">Learn More</a></div>
                                           </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="img/fullstack.webp" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="img/frontend.png" alt="second service">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                  <h2>Frontend Development</h2>
                                        <p>Specializing in modern frontend frameworks like React and Blazor, I create visually appealing, user-friendly interfaces that provide seamless user experiences across devices.</p>
                                        <div class="main-btn"><a href="#">Learn More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                           <div class="left-content">
                                        <h2>API Integrations & Creation</h2>
                                        <p>I design and develop robust APIs that seamlessly integrate with various platforms, ensuring efficient communication between different systems and enhancing overall application functionality.</p>
                                        <div class="main-btn"><a href="#">Learn More</a></div>
                                           </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="img/api.jpg" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                              <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="img/backend.jpg" alt="second service">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                   <h2>Backend Development</h2>
                                        <p>With expertise in PHP, Laravel, and other backend technologies, I build powerful and scalable server-side applications that provide strong support for your frontend interfaces.</p>
                                        <div class="main-btn"><a href="#">Learn More</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                           <div class="left-content">
                                       <h2>Languages & Frameworks</h2>
                                        <p>Proficient in languages such as React, Blazor, PHP, and Laravel, I use the right tools and frameworks to deliver high-quality software solutions that meet specific project requirements.</p>
                                        <div class="main-btn"><a href="#">Learn More</a></div>
                                           </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="img/languages.webp" alt="first service">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
          </div>