@page "/home"

<PageTitle>IsraelTech</PageTitle>
          <div class="slide" id="1">
            <div class="content first-content">
              <div class="container-fluid">
                  <div class="col-md-3">
                      <div class="author-image"><img src="img/profile.png" alt=""></div>
                  </div>
                  <div class="col-md-9">
                     <h2>Israel Opoku</h2>
<p>Hi, I'm Israel, a passionate <em>FullStack web developer</em> specializing in <em>React.js</em> and <em>Blazor</em>, dedicated to creating impactful digital experiences.</p>
<p>Feel free to reach out to me at <a href="mailto:israelopoku360@gmail.com">israelopoku360@gmail.com</a><br/> Call me at <a href="tel:+233551035300">+233 551 035 300</a><br/> Connect with me on <a href="https://www.linkedin.com/in/israel-opoku-55ab5626b" target="_blank">LinkedIn</a>.</p>


                      <div class="main-btn"><a href="#2">Read More</a></div>
                      <div class="fb-btn"><a href="https://github.com/IsraelTech-Pro/" target="_blank">My Github</a></div>
                  </div>
              </div>
            </div>
          </div>
        