@inherits LayoutComponentBase
@page "/"
<Head></Head>
<NavBar></NavBar>

  <div class="slides">

<Home></Home>
 <About></About>
<Achivement></Achivement>
 <Portfolio></Portfolio>
 <Contact></Contact>
  </div>

  <Footer></Footer>